#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tweet  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: solid;
  margin: 30px;
  font-size: 15px;
  box-shadow: 5px 5px grey;
  word-break: break-all; 
  width: 600px;
  min-height: 150px;
}

.tweet header, .tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

.tweet header {
  margin-bottom: 10px;
}

.tweet header img {
  height: 40px;
  width: 40px;
}

.tweet header .user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tweet header .account-name {
  color: rgb(155, 153, 153)
}

.tweet footer {
  margin-top: 10px;
  border-top: solid;
  padding-top: 5px;
}

.tweet footer .reactions i:hover {
  color: orange;
  cursor: pointer;
}

.tweet span.content {
  justify-self: flex-end;
}
