
.new-tweet form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 120px;
  font-weight: 800;
  
}

.new-tweet .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.invalid-length {
  color: red;
}

.new-tweet textarea {
  display: block;
  border: 0px;
  border-bottom: solid;
  width: 100%;
  background-color: #f4f1ec;
  font-size: 15px;
}

.new-tweet .footer button {
  background: #4056A1;
  color: #FFFFFF;
  font-family:'Bungee', cursive, sans-serif;
}

