.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 800;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 800;
  
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.invalid-length {
  color: red;
}

textarea {
  display: block;
  border: 0px;
  border-bottom: solid;
  max-width: 140em;
  background-color: #f4f1ec;
  resize: none;
  font-size: 15px;
}

button {
  background: #4056A1;
  color: #FFFFFF;
  font-family:'Bungee', cursive, sans-serif;
}

